
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>{{ message }}</P>
    <form method="post"
      <input type="text" name="Username" value="test" placeholder="Enter your name"><br>
      {% if(error.Username) %}
      <p> {{  error.Username.message}} </p>
      {% endif %}
      <input type="password" name="password" value="teadsfasdf" placeholder="Enter your password"><br>
      {% if(error.password) %}
      <p> {{  error.password.message}} </p>
      {% endif %}
      <input type="password" name="cpassword" value="teadsfasdf" placeholder="Enter your password"><br>
      {% if(error.cpassword) %}
      <p> {{  error.cpassword.message}} </p>
      {% endif %}
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>